.datails {
  display: flex;
}

.info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* border: none; */
  margin: 10px auto;
  text-align: center;
  width: 80%;
  height: 100%;
  padding: 10px;
}

.product-image {
  width: 80%;
  margin: 0 auto;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.361); */
  border: none;
  /* border: 1px solid black; */
  /* max-height: 600px; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.product-image p {
  display: block;
  width: 75%;
  margin: 30px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.361);
  border: none;
  height: 400px;
  /* border: 1px solid black; */
  /* max-height: 600px; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.title {
  /* display: block; */
  font-weight: 600;
  text-align: left;
  font-size: 1.8em;
}

.price {
  /* display: block; */
  font-weight: 600;
  text-align: left;
  font-size: 2em;
}

.details-div {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: 1px solid black;
  padding: 10px;
  margin: 30px auto;
}

.details-div .frete {
  /* display: flex; */
  color: green;
  text-shadow: 0 0 8px rgb(141, 220, 23);
  box-shadow: 1px 1px 10px rgba(141, 220, 23, 0.702);
  border: 1px solid green;
  padding: 10px;
  width: 70%;
  margin: 15px auto;
}

.buttons-details a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgb(69, 157, 160);
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.424);
  border: none;
  margin: 5px;
  text-align: center;
}

.buttons-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav-details a {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 10px; */
  margin: 0 auto;
}
